.show-movie-container {
    display: flex;
}

.show-movie-container img {
    height: 30vw;
}




/* .show-poster-div {

} */


.show-movie-info-div {
    display:flex;
}

.movie-info-one {
    margin-left: 1rem;
    width: 50%
}